{% extends "layout.html" %}
{% block title %}Kurssimateriaalin muokkaus{% endblock %}
{% block content %}
<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>


<h1>Classic editor</h1>
    <form action="/course/{{ course[0] }}" method="post">
        <textarea name="content" id="editor">
            &lt;p&gt;This is some sample content.&lt;/p&gt;
        </textarea>
        <p><input type="submit" value="Submit"></p>
    </form>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>


{% endblock %}