{% extends "layout.html" %}
{% block title %}{{ course[1] }}{% endblock %}
{% block content %}

{% if session.user_id %}
    {% if session.usertype == 1 %}

        <a href="/addmaterial/{{ course[0] }}">Muokkaa kurssimateriaalia</a>

        <hr>

        <p>Kurssi: {{course[1]}}</p>
        <p>Läpipääsyraja: {{course[3]}}</p>

        <hr>

        {% for material in coursematerial %}
            {{ material[1] }} <br>
        {% endfor %}

        <hr>

        Ja tänne tehtävät

    {% endif %}
    
    {% if session.usertype == 2 %}

        <p>Kurssi: {{course[1]}}</p>
        <p>Läpipääsyraja: {{course[3]}}</p>

        <hr>

        {% for material in coursematerial %}
            {{ material[1] }} <br>
        {% endfor %}

        <hr>

        Ja tänne tehtävät

    {% endif %}

    
{% else %}

    Et ole kirjautunut! <br>
    Joo tää pitää muuttaa järkevämmäksi

{% endif %}
{% endblock %}