{% extends "layout.html" %}
{% block title %}{{ course[1] }}{% endblock %}
{% block content %}

{% if session.user_id %}
    {% if session.usertype == 1 %}

        <a href="/addmaterial/{{ course[0] }}">Muokkaa kurssimateriaalia</a>

        <hr>

        <p>Kurssi: {{course[1]}}</p>
        <p>Läpipääsyraja: {{course[3]}}</p>

        <form action="/update_passgrade" method="post">
            Muokkaa läpipääsyrajaa: <input type="number" name="passgrade" min="1" max="100">
            <input type="submit" value="Päivitä raja"> <br>
            Huom, läpipääsyrajan tulee olla välillä 1-100!
            <p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="course_id" value="{{ course[0] }}">
        </form>
        
        <hr>

        {% for material in coursematerial %}
            {{ material[1] }} <br>
        {% endfor %}

        <hr>

        Ja tänne tehtävät

    {% endif %}
    
    {% if session.usertype == 2 %}

        <p>Kurssi: {{course[1]}}</p>
        <p>Läpipääsyraja: {{course[3]}}</p>

        <hr>

        {% for material in coursematerial %}
            {{ material[1] }} <br>
        {% endfor %}

        <hr>

        Ja tänne tehtävät

    {% endif %}

    
{% else %}

    Et ole kirjautunut! <br>
    Joo tää pitää muuttaa järkevämmäksi

{% endif %}
{% endblock %}