{% extends "layout.html" %}
{% block title %}{{ course[1] }}{% endblock %}
{% block content %}

{% if session.user_id %}
    {% if session.usertype == 1 %}

        <h1>{{course[1]}}</h1>

        <p>Geneeristä ohjeistusta tehtäviin?</p>

        <hr>

        <h3>Monivalintatehtävät</h3>

        <hr>

        {% if no_quizzes %}
        
            <p>Ei monivalintatehtäviä!</p>

            <hr>

        {% else %}

            {% for quiz in quizzes_and_choises %}

                Pisteet: {{ quiz[0][1] }}
                Kysymys: {{ quiz[0][2] }}
                
                <p>
                
                {% for choice in quiz[1] %}
                    <input type="radio" name="choice" value="{{ choice }}" disabled>{{ choice[2] }}<br>
                {% endfor %}
                
                <p>
                
                <hr>

            {% endfor %}

            <p>Opettaja-roolissa ei voi vastata tehtäviin</p>

            <hr>
        
        {% endif %}

        {% if not all_exercise_slots_used %}
            <h3>Lisää monivalintatehtävä</h3>
            <form action="/course/{{ course[0] }}/exercises" method="POST">
                <p>Pisteet (1-10): <input type="number" name="points" value="1" min="1" max="10" required></p>
                <p>Kysymys: <input type="text" name="question" required></p>
                <p>Oikea vastaus: <input type="text" name="right_choice" required></p>
                <p>Väärä vastaus: <input type="text" name="wrong_choice" required></p>
                <p>Väärä vastaus (ei pakollinen): <input type="text" name="wrong_choice"></p>
                <p>Väärä vastaus (ei pakollinen): <input type="text" name="wrong_choice"></p>
                <p>Oikean vastauksen palauteteksti (ei pakollinen): <input type="text" name="right_feedback"></p>
                <p>Väärän vastauksen palauteteksti (ei pakollinen): <input type="text" name="false_feedback"></p>
                <input type="submit" value="Lisää tehtävä">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="exercise_type" value=1>
            </form>
        {% endif %}

        <hr>

        <h3>Tekstikenttätehtävät</h3>

        <hr>

        {% if no_text_exercises %}

            <p>Ei tekstikenttätehtäviä!</p>

            <hr>

        {% else %}

            {% for text in text_exercises %}
                Pisteet: {{ text[1] }}
                Kysymys: {{ text[2] }}
                
                <p>Vastaus: <input type="text" name="answer" disabled><br></p>
                
                <hr>

            {% endfor %}

            <p>Opettaja-roolissa ei voi vastata tehtäviin</p>

            <hr>

        {% endif %}

        {% if not all_exercise_slots_used %}
            <h3>Lisää tekstikenttätehtävä</h3>
            <p>Huom! Vastauksen pitää olla tismalleen oikein</p>
            <form action="/course/{{ course[0] }}/exercises" method="POST">
                <p>Pisteet (1-10): <input type="number" name="points" value="1" min="1" max="10" required></p>
                <p>Kysymys: <input type="text" name="question" required></p>
                <p>Oikea vastaus: <input type="text" name="right_text" required></p>
                <p>Oikean vastauksen palauteteksti (ei pakollinen): <input type="text" name="right_feedback"></p>
                <p>Väärän vastauksen palauteteksti (ei pakollinen): <input type="text" name="false_feedback"></p>
                <input type="submit" value="Lisää tehtävä">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="exercise_type" value=2>
            </form>
        
        {% else %}

            20 tehtävää on maksimi, et voi lisätä enempää!

        {% endif %}

    {% endif %}
    
    {% if session.usertype == 2 %}

        <h1>{{course[1]}}</h1>

        <p>Geneeristä ohjeistusta tehtäviin?</p>

        <hr>

        <p>Kurssin maksimipisteet: {{ max_points }}</p>
        <p>Omat pisteet: {{ user_points }}</p>
        <p>Läpipääsyraja: {{ passgrade }} % eli noin {{ passgrade_in_points }} pistettä</p>
        <p>Kurssin status:
            {% if course_passed %}
                Suoritettu hyväksytysti
            {% elif all_exercises_answered %}
                Hylätty
            {% else %}
                Kesken
            {% endif %}
                
        </p>

        <hr>

        <h3>Monivalintatehtävät</h3>

        <hr>

        {% if no_quizzes %}
        
            <p>Ei monivalintatehtäviä!</p>

            <hr>

        {% else %}

            <form action="/answer_to_exercises" method="post">
                {% for quiz in quizzes_and_choises %}
                    Pisteet: {{ quiz[0][1] }}
                    Kysymys: {{ quiz[0][2] }}
                    
                    <p>
                    
                    {% for choice in quiz[1] %}
                    
                        {% if all_quizzes_answered %}
                            {% if (quiz[0][0],choice[0]) in all_quiz_answers and choice[3] == True %}
                                <input type="radio" name="choice_{{ quiz[0][0] }}" value="{{ choice }}" checked disabled>{{ choice[2] }} - Oikein!<br>
                            {% elif (quiz[0][0],choice[0]) in all_quiz_answers and choice[3] == False %}
                                <input type="radio" name="choice_{{ quiz[0][0] }}" value="{{ choice }}" checked disabled>{{ choice[2] }} - Väärin! <br>
                            {% else %}
                                <input type="radio" name="choice_{{ quiz[0][0] }}" value="{{ choice }}" disabled>{{ choice[2] }}<br>
                            {% endif %}
                        {% else %}
                            <input type="radio" name="choice_{{ quiz[0][0] }}" value="{{ choice }}" required>{{ choice[2] }}<br>
                        {% endif %}
                        
                        
                    {% endfor %}
                    
                    {% if all_quizzes_answered %}

                        {% if quiz[0][0] in correct_quiz_answers[0] %}
                            <p>{{ quiz[0][3] }}</p>
                        {% else %}
                            <p>{{ quiz[0][4] }}</p>
                        {% endif %}    
                    {% endif %}

                    <p>
                    
                    <hr>
                    <input type="hidden" name="quizzes" value="{{ quiz[0][0] }}">
                {% endfor %}
                {% if all_quizzes_answered %}
                    <p>Olet jo vastannut</p>
                {% else %}
                    <input type="submit" value="Lähetä vastaukset"> <br>
                {% endif %}
                
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="course_id" value="{{ course[0] }}">
                <input type="hidden" name="exercise_type" value="1">
                
            </form>
        
        {% endif %}

        <hr>

        <h3>Tekstikenttätehtävät</h3>

        <hr>

        {% if no_text_exercises %}

            <p>Ei tekstikenttätehtäviä!</p>

            <hr>

        {% else %}

            <form action="/answer_to_exercises" method="post">
                {% for text_question in text_exercises %}

                    Pisteet: {{ text_question[1] }}
                    Kysymys: {{ text_question[2] }}

                    {% if all_text_exercises_answered %}
                        {% for answers in all_text_exercise_answers %}
                            {% if answers[0] == text_question[0] and answers[1] == text_question[3] %}
                                <p>Vastaus: <input type="text" name="answer_{{ text_question[0] }}" value="{{ answers[1] }}" disabled> Oikein!<br></p>
                            {% elif answers[0] == text_question[0] and answers[1] != text_question[3] %}
                                <p>Vastaus: <input type="text" name="answer_{{ text_question[0] }}" value="{{ answers[1] }}" disabled> Väärin!<br></p>
                            {% endif %}
                        {% endfor %}

                        {% if (text_question[0],text_question[3]) in all_text_exercise_answers %}
                            <p>{{ text_question[4] }}</p>
                        {% else %}
                            <p>{{ text_question[5] }}</p>
                        {% endif %}
                    {% else %}
                        <p>Vastaus: <input type="text" name="answer_{{ text_question[0] }}" required><br></p>
                    {% endif %}
                        
                    <hr>
                    <input type="hidden" name="texts" value="{{ text_question[0] }}">
                {% endfor %}
                {% if all_text_exercises_answered %}
                    <p>Olet jo vastannut</p>
                {% else %}
                    <input type="submit" value="Lähetä vastaukset"> <br>
                {% endif %}
                
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="course_id" value="{{ course[0] }}">
                <input type="hidden" name="exercise_type" value="2">
            </form>

        {% endif %}

    {% endif %}

    
{% else %}

    Et ole kirjautunut! <br>
    Joo tää pitää muuttaa järkevämmäksi

{% endif %}
{% endblock %}