{% extends "layout.html" %}
{% block title %}{{ course[1] }}{% endblock %}
{% block content %}

{% if session.user_id %}
    {% if session.usertype == 1 %}

        <h1>{{course[1]}}</h1>
        <p>Geneeristä ohjeistusta tehtäviin?</p>
        <p>Esim. tekstikenttävastauksen pitää olla tismalleen oikein</p>

        <hr>

        <p>Kurssin maksimipisteet: {{ course_statistics[0] }}</p>
        <p>Läpipääsyraja: {{ course_statistics[2] }} % eli noin {{ course_statistics[3] }} pistettä</p>

        <p><a href="/course/{{ course[0] }}">Takaisin kurssisivulle</a></p>

        <hr>

        <h3>Monivalintatehtävät</h3>

        <hr>

        {% if no_quizzes %}
            <p>Ei monivalintatehtäviä!</p>
            <hr>

        {% else %}

            {% for quiz in quizzes_and_choises %}
                <p>Pisteet: {{ quiz[0][1] }}</p>
                <p>Kysymys: {{ quiz[0][2] }}</p>
                
                {% for choice in quiz[1] %}
                    <input type="radio" name="choice" value="{{ choice }}" disabled>{{ choice[2] }}<br>
                {% endfor %}
                {% if not course_published %}
                    <a href="/hide/{{ course[0] }}/{{ quiz[0][0] }}">Poista</a>
                {% endif %}
                <hr>
            {% endfor %}

            <p>Opettaja-roolissa ei voi vastata tehtäviin</p>
            <hr>
        
        {% endif %}

        {% if not all_exercise_slots_used and not course_published %}
            <h3>Lisää monivalintatehtävä</h3>
            <form action="/course/{{ course[0] }}/exercises" method="POST">
                <p>Pisteet: <input type="number" name="points" value="1" min="1" max="10" required> (1-10 pistettä)</p>
                <p>Kysymys: <input type="text" name="question" maxlength="500" required> (max 500 merkkiä)</p>
                <p>Oikea vastaus: <input type="text" name="right_choice" maxlength="100" required> (max 100 merkkiä)</p>
                <p>Väärä vastaus: <input type="text" name="wrong_choice" maxlength="100" required> (max 100 merkkiä)</p>
                <p>Väärä vastaus: <input type="text" name="wrong_choice" maxlength="100"> (ei pakollinen, max 100 merkkiä)</p>
                <p>Väärä vastaus: <input type="text" name="wrong_choice" maxlength="100"> (ei pakollinen, max 100 merkkiä)</p>
                <p>Oikean vastauksen palauteteksti: <input type="text" name="right_feedback" maxlength="100"> (ei pakollinen, max 100 merkkiä)</p>
                <p>Väärän vastauksen palauteteksti: <input type="text" name="false_feedback" maxlength="100"> (ei pakollinen, max 100 merkkiä)</p>
                <input type="submit" value="Lisää tehtävä">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="exercise_type" value=1>
            </form>

            <hr>
        {% endif %}

        <h3>Tekstikenttätehtävät</h3>

        <hr>

        {% if no_text_exercises %}
            <p>Ei tekstikenttätehtäviä!</p>
            <hr>

        {% else %}

            {% for text in text_exercises %}
                <p>Pisteet: {{ text[1] }}</p>
                <p>Kysymys: {{ text[2] }}</p>
                <p>Vastaus: <input type="text" name="answer" disabled><br></p>
                {% if not course_published %}
                <a href="/hide/{{ course[0] }}/{{ text[0] }}">Poista</a>
                {% endif %}
                <hr>
            {% endfor %}

            <p>Opettaja-roolissa ei voi vastata tehtäviin</p>

            <hr>

        {% endif %}

        {% if not all_exercise_slots_used and not course_published %}
            <h3>Lisää tekstikenttätehtävä</h3>
            <form action="/course/{{ course[0] }}/exercises" method="POST">
                <p>Pisteet: <input type="number" name="points" value="1" min="1" max="10" required> (1-10 pistettä)</p>
                <p>Kysymys: <input type="text" name="question" maxlength="500" required> (max 500 merkkiä)</p>
                <p>Oikea vastaus: <input type="text" name="right_text" maxlength="50" required> (max 50 merkkiä)</p>
                <p>Oikean vastauksen palauteteksti: <input type="text" name="right_feedback" maxlength="100"> (ei pakollinen, max 100 merkkiä)</p>
                <p>Väärän vastauksen palauteteksti: <input type="text" name="false_feedback" maxlength="100"> (ei pakollinen, max 100 merkkiä)</p>
                <input type="submit" value="Lisää tehtävä">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="exercise_type" value=2>
            </form>
        
        {% endif %}

        {% if all_exercise_slots_used %}
            20 tehtävää on maksimi, et voi lisätä enempää!
        {% endif %}

    {% endif %}
    
    {% if session.usertype == 2 %}

        <h1>{{course[1]}}</h1>
        <p>Geneeristä ohjeistusta tehtäviin?</p>

        <hr>

        <p>Kurssin maksimipisteet: {{ course_statistics[0] }}</p>
        <p>Omat pisteet: {{ course_statistics[1] }}</p>
        <p>Läpipääsyraja: {{ course_statistics[2] }} % eli noin {{ course_statistics[3] }} pistettä</p>
        <p>Kurssin status: {{ course_statistics[4] }}</p>

        <hr>

        <h3>Monivalintatehtävät</h3>

        <hr>

        {% if no_quizzes %}
            <p>Ei monivalintatehtäviä!</p>
            <hr>
        {% else %}

            <form action="/answer_to_exercises" method="post">
                {% for quiz in quizzes_and_choises %}
                    <p>Pisteet: {{ quiz[0][1] }}</p>
                    <p>Kysymys: {{ quiz[0][2] }}</p>
                    
                    {% for choice in quiz[1] %}
                        {% if all_quizzes_answered %}
                            {% if (quiz[0][0],choice[0]) in all_quiz_answers and choice[3] == True %}
                                <input type="radio" name="choice_{{ quiz[0][0] }}" value="{{ choice }}" checked disabled>{{ choice[2] }} - Oikein!<br>
                            {% elif (quiz[0][0],choice[0]) in all_quiz_answers and choice[3] == False %}
                                <input type="radio" name="choice_{{ quiz[0][0] }}" value="{{ choice }}" checked disabled>{{ choice[2] }} - Väärin!<br>
                            {% else %}
                                <input type="radio" name="choice_{{ quiz[0][0] }}" value="{{ choice }}" disabled>{{ choice[2] }}<br>
                            {% endif %}
                        {% else %}
                            <input type="radio" name="choice_{{ quiz[0][0] }}" value="{{ choice }}" required>{{ choice[2] }}<br>
                        {% endif %}
                    {% endfor %}
                    
                    {% if all_quizzes_answered %}
                        {% if quiz[0][0] in correct_quiz_answers[0] %}
                            <p>{{ quiz[0][3] }}</p>
                        {% else %}
                            <p>{{ quiz[0][4] }}</p>
                        {% endif %}    
                    {% endif %}
                    <input type="hidden" name="quizzes" value="{{ quiz[0][0] }}">
                    <hr>
                {% endfor %}

                {% if all_quizzes_answered %}
                    <p>Olet jo vastannut</p>
                {% else %}
                    <input type="submit" value="Lähetä vastaukset"> <br>
                {% endif %}

                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="course_id" value="{{ course[0] }}">
                <input type="hidden" name="exercise_type" value="1">
            </form>
        
        {% endif %}

        <hr>

        <h3>Tekstikenttätehtävät</h3>

        <hr>

        {% if no_text_exercises %}

            <p>Ei tekstikenttätehtäviä!</p>

            <hr>

        {% else %}

            <form action="/answer_to_exercises" method="post">
                {% for text_question in text_exercises %}
                    <p>Pisteet: {{ text_question[1] }}</p>
                    <p>Kysymys: {{ text_question[2] }}</p>

                    {% if all_text_exercises_answered %}
                        {% for answers in all_text_exercise_answers %}
                            {% if answers[0] == text_question[0] and answers[1] == text_question[3] %}
                                <p>Vastaus: <input type="text" name="answer_{{ text_question[0] }}" value="{{ answers[1] }}" disabled> Oikein!</p>
                            {% elif answers[0] == text_question[0] and answers[1] != text_question[3] %}
                                <p>Vastaus: <input type="text" name="answer_{{ text_question[0] }}" value="{{ answers[1] }}" disabled> Väärin!</p>
                            {% endif %}
                        {% endfor %}

                        {% if (text_question[0],text_question[3]) in all_text_exercise_answers %}
                            <p>{{ text_question[4] }}</p>
                        {% else %}
                            <p>{{ text_question[5] }}</p>
                        {% endif %}
                    {% else %}
                        <p>Vastaus: <input type="text" name="answer_{{ text_question[0] }}" maxlength="50" required> (max 50 merkkiä)</p>
                    {% endif %}
                        
                    <hr>
                    <input type="hidden" name="texts" value="{{ text_question[0] }}">
                {% endfor %}
                {% if all_text_exercises_answered %}
                    <p>Olet jo vastannut</p>
                {% else %}
                    <input type="submit" value="Lähetä vastaukset"> <br>
                {% endif %}
                
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="course_id" value="{{ course[0] }}">
                <input type="hidden" name="exercise_type" value="2">
            </form>

        {% endif %}

    {% endif %}

    
{% else %}

    Et ole kirjautunut! <br>
    Joo tää pitää muuttaa järkevämmäksi

{% endif %}
{% endblock %}