{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}

{% if session.user_id %}
    
    {% if session.usertype == 1 %}

        <p>Käynnissä olevat kurssit</p>
        {% for course in open_courses_teacher %}
            <a href="/course/{{ course[0] }}">{{ course[1] }}</a>
            <a href="/hide/{{ course[0] }}">Poista</a> <br>
        {% endfor %}

        <hr>

        <p>Julkaisemattomat kurssit</p>
        {% for course in unpublished_courses %}
            <a href="/course/{{ course[0] }}">{{ course[1] }}</a>
            <a href="/publish/{{ course[0] }}">Julkaise</a> <br>
        {% endfor %}

        <hr>

        <form action="/newcourse" method="post">
            <p>Luo uusi kurssi</p>
            <p>Kurssin nimi: <input type="text" name="coursename" minlength="3" maxlength="50" required> (3-50 merkkiä)</p>
            <input type="submit" value="Luo kurssi"> <br>
            <p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

    {% endif %}

    {% if session.usertype == 2 %}

        <p>Keskeneräiset kurssit</p>
        {% for course in uncompleted_courses %}
            <a href="/course/{{ course[0] }}">{{ course[1] }}</a>
        {% endfor %}
        
        <hr>

        <p>Avoimet kurssit</p>
        {% for course in open_courses %}
            <a href="/course/{{ course[0] }}">{{ course[1] }}</a>
            <a href="/signup/{{ course[0] }}">Ilmoittaudu kurssille</a> <br>
        {% endfor %}

        <hr>

        <p>Valmiit kurssit</p>
        {% for course in completed_courses %}
            <a href="/course/{{ course[0] }}">{{ course[1] }}</a> <br>
        {% endfor %}

        <hr>

    {% endif %}

{% else %}

<form action="/login" method="post">
    <p>Kirjaudu sisään</p>
    Tunnus: <input type="text" name="username" required>
    <p>
    Salasana: <input type="password" name="password" required>
    <p>
    <input type="submit" value="Kirjaudu">
</form>

<hr>

Jos sinulla ei ole tunnuksia, voit luoda ne <a href="/register">tästä</a>

{% endif %}
{% endblock %}