{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}



{% if session.user_id %}

{% if session.usertype == 0 %}

<p>Kurssit, joille olet ilmoittautunut:</p>

{% for users_course in users_courses %}
Kurssi: <a href="/course/{{ users_course[0] }}">{{ users_course[1] }}</a> <br>
{% endfor %}

<hr>

<p>Muut avoimet kurssit:</p>

{% for open_course in open_courses %}
Kurssi: <a href="/course/{{ open_course[0] }}">{{ open_course[1] }}</a>
<a href="/signup/{{ open_course[0] }}">Ilmoittaudu kurssille</a> <br>
{% endfor %}

<hr>

{% endif %}

{% if session.usertype == 1 %}

<p>Omat kurssit:</p>

{% for owned_course in owned_courses %}
Kurssi: <a href="/course/{{ owned_course[0] }}">{{ owned_course[1] }}</a> <br>
{% endfor %}

<hr>

<form action="/newcourse" method="post">
    <p>Luo uusi kurssi</p>
    Kurssin nimi: <input type="text" name="coursename">
    <p>
    <input type="submit" value="Luo kurssi">
</form>

{% endif %}



{% else %}

<form action="/login" method="post">
    <p>Kirjaudu sisään</p>
    Tunnus: <input type="text" name="username">
    <p>
    Salasana: <input type="password" name="password">
    <p>
    <input type="submit" value="Kirjaudu">
</form>

<hr>

Jos sinulla ei ole tunnuksia, voit luoda ne <a href="/register">tästä</a>

{% endif %}



{% endblock %}