{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}

{% if session.user_id %}
    
    {% if session.usertype == 1 %}

        <h3>Käynnissä olevat kurssit</h3>
        <hr>
        {% for course in open_courses_teacher %}
            <p><a href="/course/{{ course[0] }}">{{ course[1] }}</a>
            <a href="/hide/{{ course[0] }}">Poista</a></p>
            {% for stats in course_statistics %}
                {% if course[0] == stats[0] %}
                    <p>Ilmoittautuneita {{ stats[1][0] }} kpl</p>
                    <p>Hyväksyttyjä suorituksia {{ stats[1][1] }} kpl eli n. {{ stats[1][2] }}%</p>
                {% endif %}
            {% endfor %}
            <hr>
        {% endfor %}

        <h3>Julkaisemattomat kurssit</h3>
        <hr>
        {% for course in unpublished_courses %}
            <p><a href="/course/{{ course[0] }}">{{ course[1] }}</a>
            <a href="/publish/{{ course[0] }}">Julkaise</a></p>
            <hr>
        {% endfor %}

        <form action="/newcourse" method="post">
            <p>Luo uusi kurssi</p>
            <p>Kurssin nimi: <input type="text" name="coursename" minlength="3" maxlength="50" required> (3-50 merkkiä)</p>
            <input type="submit" value="Luo kurssi"> <br>
            <p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

    {% endif %}

    {% if session.usertype == 2 %}

        <h3>Keskeneräiset kurssit</h3>
        <hr>
        {% for course in uncompleted_courses %}
            <p><a href="/course/{{ course[0] }}">{{ course[1] }}</a></p>
            <hr>
        {% endfor %}
        
        <h3>Avoimet kurssit</h3>
        <hr>
        {% for course in open_courses %}
            <p><a href="/course/{{ course[0] }}">{{ course[1] }}</a>
            <a href="/signup/{{ course[0] }}">Ilmoittaudu kurssille</a></p>
        {% endfor %}

        <h3>Valmiit kurssit</h3>
        <hr>
        {% for course in completed_courses %}
            <p><a href="/course/{{ course[0] }}">{{ course[1] }}</a></p>
            <hr>
        {% endfor %}

    {% endif %}

{% else %}

<form action="/login" method="post">
    <p>Kirjaudu sisään</p>
    Tunnus: <input type="text" name="username" required>
    <p>
    Salasana: <input type="password" name="password" required>
    <p>
    <input type="submit" value="Kirjaudu">
</form>

<hr>

Jos sinulla ei ole tunnuksia, voit luoda ne <a href="/register">tästä</a>

{% endif %}
{% endblock %}