<!DOCTYPE html>
<head>
    <title> Verkkokurssisovellus - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="header">
        <h1>Verkkokurssisovellus</h1>
    </div>
    <nav>
        <ul>
            {% if session.user_id %}
            <li><a href="/">Kaikki kurssit</a></li>
            {% block navbar %}{% endblock %}
            <li><a href="/logout">Kirjaudu ulos ({{ session.username }})</a></li>
            {% else %}
            <li><a href="/">Etusivu</a></li>
            <li><a href="/login">Kirjaudu</a></li>
            <li><a href="/register">Rekisteröidy</a></li>
            {% endif %}
            </div>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>