<!DOCTYPE html>
<head>
    <title> Verkkokurssisovellus - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="title">
        <h1>Verkkokurssisovellus</h1>
        <a href="/">Etusivu</a>
        
        {% if session.user_id %}

        <p>Olet kirjautunut sisään käyttäjänä {{ session.username }}</p>
        <a href="/statistics">Tilastot</a>
        <a href="/logout">Kirjaudu ulos</a>

        {% endif %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>