{% extends "layout.html" %}
{% block title %}Kurssimateriaalin päivitys{% endblock %}

{% block navbar %}
<li><a href="/course/{{ course[0] }}">Kurssimateriaali</a></li>
{% endblock %}

{% block content %}

    <h1>{{ course[1] }}</h1>
    
    <form action="/course/{{ course[0] }}" method="post">
        <textarea name="title" rows="1" cols="75" maxlength="100">{{ material[1] }}</textarea><br>
        <textarea name="content" rows="25" cols="75" maxlength="10000">{{ material[2] }}</textarea><br>
        <input id="button" type="submit" value="Päivitä materiaali"><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="material_id" value="{{ material[0] }}">
        <input type="hidden" name="update_type" value="material_update">
    </form>

{% endblock %}


