{% extends "layout.html" %}
{% block title %}Kurssin johdannon päivitys{% endblock %}
{% block content %}

    <h1>{{ course[1] }}</h1>

    <form action="/course/{{ course[0] }}" method="post">
        <textarea name="content" rows="25" cols="75" maxlength="10000">{{ course[4] }}</textarea><br>
        <input id="button" type="submit" value="Päivitä johdanto">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="update_type" value="intro_update">
    </form>

{% endblock %}


